option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "18.16.0"
  aws:elasticbeanstalk:application:environment:
    OPENAI_API_KEY: "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"
    PINECONE_API_KEY: "a4c9349b-d124-4077-931f-f685e8f0c14b""
    PINECONE_ENVIRONMENT="asia-northeast1-gcp"
    PINECONE_INDEX_NAME="docbot"
